<h1>Users</h1>
<ul>
<% User.all.each do |u| %>
  <li><%= link_to u.username, user_path(id:u.id) %> <% if current_user_session %><%= link_to "edit", edit_user_path(id:u.id) %><% end %></li>
<% end %>
</ul>
